@import "./variables";

@mixin skeleton($line-count: 7) {
  $separator: comma;

  $line-height: 48px;
  $line-padding: 5px;
  $line-skeleton: linear-gradient(#4d5ec1 $line-height, transparent 0);
  $line-width: 100%;

  $blur-color: #7280ce;
  $blur-skeleton: linear-gradient(90deg, rgba($blur-color, 0) 0, rgba($blur-color, .8) 50%, rgba($blur-color, 0) 100%);
  $blur-width: 150px;
  $blur-size: $blur-width $line-count * $line-height + ($line-count - 1) * $line-padding;

  $background-image: ($blur-skeleton);
  $background-size: ();
  $background-position: ();
  $animation: ();

  $background-size: append($background-size, $blur-size, $separator);
  $background-position: append($background-position, -150% 0, $separator);
  $animation: append($animation, 350% 0, $separator);

  @for $i from 1 through $line-count {
    $position: ($i - 1) * ($line-height + $line-padding);
    $background-image: append($background-image, $line-skeleton, $separator);
    $background-size: append($background-size, $line-width $line-height, $separator);
    $background-position: append($background-position, 0 $position, $separator);
    $animation: append($animation, 0 $position, $separator);
  }

  $background-size: append($background-size, 100% 100%, $separator);
  $animation: append($animation, 0 0, $separator);

  background-image: $background-image;
  background-size: $background-size;
  background-position: $background-position;
  background-repeat: no-repeat;
  animation: loading 2s infinite;

  @keyframes loading {
    to {
      background-position: $animation;
    }
  }
}

@mixin skeleton-empty($line-count: 7) {
  height: 100%;

  &:empty::after {
    @include skeleton($line-count);

    content: "";
    display: block;
    width: 100%;
    height: 100%;
  }
}
