<div class="admin-player-edit">
  <h2 class="admin-player-edit__title">
    Редактирование игрока
  </h2>

  <form class="admin-player-edit__form" novalidate autocomplete="off" [formGroup]="form" (ngSubmit)="onSubmit$.next()">
    <mat-form-field class="admin-player-edit__field">
      <input matInput placeholder="Имя" formControlName="name" />
      <mat-error *ngIf="form.get('name').invalid">
        Имя игрока поле обязательное
      </mat-error>
    </mat-form-field>

    <button mat-button role="button" class="admin-player-edit__button">
      Изменить игрока
    </button>
  </form>
</div>
