@import "../../../styles/variables";

.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid lighten(map-get($color, primary), 15%);
  background-color: lighten(map-get($color, primary), 5%);
  color: white;
  transition: background-color map-get($duration, transition);

  &:hover {
    background-color: lighten(map-get($color, primary), 10%);
  }

  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

mat-list.mat-list-base {
  padding-top: 0;
}
