@import "../../../styles/respond";

.mat-stepper-horizontal {
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
}

div.mat-horizontal-content-container {
  padding-top: 24px;
}

mat-step-header.mat-step-header .mat-step-label.mat-step-label-active {
  color: var(--text-color);
}

@include respond-below(sm) {
  .mat-step-header .mat-step-label {
    display: none;
  }

  div.mat-horizontal-content-container {
    padding: 12px;
  }
}
