.mat-table {
  width: 100%;
  box-shadow: none;
  border: 1px solid var(--border-color);
  background-color: var(--background-color);

  .mat-header-cell,
  .mat-cell {
    text-align: center;
    vertical-align: middle;
    color: var(--text-color);
    border-bottom-color: var(--border-color);
  }

  @media screen and (max-width: var(--grid-breakpoint-mobile)) {
    $padding: .625em;

    background-color: transparent;
    border: 0;

    thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    .mat-row {
      height: auto;
      border: 1px solid var(--border-color);
      background-color: var(--background-color);
      display: block;
      margin-bottom: $padding;
      border-radius: var(--border-radius);

      &:last-child {
        margin-bottom: 0;
      }
    }

    .mat-cell {
      padding: $padding;
      font-size: .8em;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &::before {
        content: attr(data-label);
        text-transform: uppercase;
        padding-right: 10px;
      }

      &:first-of-type {
        padding-left: $padding;
      }

      &:last-of-type {
        padding-right: $padding;
      }

      &:last-child {
        border-bottom: 0;
      }
    }

    .mat-container-column {
      display: grid;
      justify-items: center;
      align-items: center;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
