@import "../../../../styles/respond";

.match-item-teams {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;

  @include respond-below(sm){
    grid-gap: 10px;
    grid-template-columns: 1fr;
  }
}
