<div class="match-item">
    <app-loader [isLoading]="isLoading$ | async">
        <h2 class="match-item__header">
            Подробная информация о матче
        </h2>
        <app-match-item-details
                [match]="match$ | async"
        ></app-match-item-details>
        <app-match-item-field
                class="match-item__item"
                [field]="(match$ | async)?.field"
        ></app-match-item-field>
        <app-match-item-teams
                class="match-item__item"
                [firstTeam]="(match$ | async)?.firstTeam"
                [secondTeam]="(match$ | async)?.secondTeam"
        ></app-match-item-teams>
        <app-match-item-goals
                class="match-item__item"
                [goals]="(match$ | async)?.goals"
        ></app-match-item-goals>
    </app-loader>
</div>
