<div class="player-list-item">
    <span class="player-list-item__text">
        Имя: {{ player?.name }}
    </span>
    <span class="player-list-item__text">
        Победа: {{ player?.winRate || 0 }}%
    </span>
    <span class="player-list-item__text">
        Поражения: {{ player?.loseRate || 0 }}%
    </span>
    <span class="player-list-item__text">
        Количество игр: {{ player?.countMatches || 0 }}
    </span>
    <span class="player-list-item__text">
        Количество голов: {{ player?.countGoals || 0 }}
    </span>
</div>
