@import "../../../../styles/respond";

.player-list-item {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;

  &__text {
    text-align: center;

    &:first-of-type {
      text-align: left;
    }

    &:last-of-type {
      text-align: right;
    }
  }

  @include respond-below(md) {
    grid-template-columns: 1fr;
    grid-gap: 5px;
    padding-top: 5px;
    padding-bottom: 5px;

    &__text,
    &__text:first-of-type,
    &__text:last-of-type {
      text-align: left;
    }
  }
}
