.admin-login {
  height: 100%;
  color: var(--text-color);
  background-color: var(--primary-color);
  display: flex;
  text-align: center;

  &__container {
    border: 1px solid var(--border-color);
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    margin: auto;
    padding: 10px;
  }

  &__title {
    font-size: 20px;
    margin-bottom: 20px;
  }

  &__button {
    text-transform: capitalize;
    border: 1px solid var(--border-color);
  }

  &__field {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
