.confirm {
  background-color: var(--background-color);
  margin: -24px;
  padding: 10px;
  color: var(--text-color);
  text-align: center;

  &__title {
    font-size: 18px;
    margin-bottom: 20px;
  }

  &__button {
    border: 1px solid var(--border-color);
    text-transform: capitalize;

    &:not(:last-of-type) {
      margin-right: 10px;
    }
  }
}
