@import "../../../../styles/variables";

.field-item {
  color: white;

  &__title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
  }

  &__list-item {
    cursor: default;
  }

  &__link {
    display: block;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    border: 1px solid lighten(map-get($color, primary), 15%);
    margin-left: 10px;
  }
}
