@import "../../../../styles/mixins/respond";

.match-list-item {
  display: flex;
  justify-content: space-between;

  &__item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 15px;
    }

    &:last-child {
      margin-left: auto;
    }
  }

  &__text {
    margin-left: 5px;
  }

  @include respond-below(sm) {
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;

    &__item {
      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 5px;
      }

      &:last-child {
        margin-left: 0;
      }
    }
  }
}
