.match-list-item {
  display: flex;
  justify-content: space-between;

  &__item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 15px;
    }

    &:last-child {
      margin-left: auto;
    }
  }

  &__text {
    margin-left: 5px;
  }
}
