<div class="match-list-item">
    <div class="match-list-item__item">
        <mat-icon class="match-list-item__icon">date_range</mat-icon>
        <span class="match-list-item__text">
      {{ match?.date | date: 'dd/MM/yyyy' }}
    </span>
    </div>
    <div class="match-list-item__item">
        <mat-icon class="match-list-item__icon">timer</mat-icon>
        <span class="match-list-item__text">
      {{ match?.duration }}
    </span>
    </div>
    <div class="match-list-item__item">
    <span class="match-list-item__key">
      Счет:
    </span>
        {{ match?.firstScore }} - {{ match?.secondScore }}
    </div>
</div>
