@import "../../../../styles/variables";

.match-list-item {
  display: flex;
  justify-content: space-between;

  &__item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 15px;
    }

    &:last-child {
      margin-left: auto;
    }
  }

  &__key {
    margin-right: 5px;
  }

  &__text {
    margin-left: 5px;
  }

  @media screen and (max-width: map-get($breakpoints, mobile)) {
    &__key {
      display: none;
    }
  }
}
