<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>
      Номер
    </th>
    <td mat-cell *matCellDef="let element" data-label="Номер">
      {{ element?.id }}
    </td>
  </ng-container>

  <!-- Duration Column -->
  <ng-container matColumnDef="duration">
    <th mat-header-cell *matHeaderCellDef>
      Продолжительность (минуты)
    </th>
    <td mat-cell *matCellDef="let element" data-label="Продолжительность (минуты)">
      {{ element?.duration }}
    </td>
  </ng-container>

  <!-- Score Column -->
  <ng-container matColumnDef="score">
    <th mat-header-cell *matHeaderCellDef>
      Счет
    </th>
    <td mat-cell *matCellDef="let element" data-label="Счет">
      {{ element?.firstScore }} - {{ element?.secondScore }}
    </td>
  </ng-container>

  <!-- CreatedAt Column -->
  <ng-container matColumnDef="createdAt">
    <th mat-header-cell *matHeaderCellDef>
      Создан
    </th>
    <td mat-cell *matCellDef="let element" data-label="Создан">
      {{ element?.createdAt | date: 'dd/MM/yyyy' }}
    </td>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>
      Действия
    </th>
    <td mat-cell *matCellDef="let element" data-label="Действия">
      <div class="mat-container-column">
        <button
                type="button"
                role="link"
                mat-button
                matTooltip="Посмотреть"
                [routerLink]="['/match', element?.id]"
        >
          <mat-icon>visibility</mat-icon>
        </button>
        <button
                type="button"
                role="button"
                mat-button
                matTooltip="Редактировать"
                [routerLink]="['/admin', 'match', element?.id]"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
                type="button"
                role="button"
                mat-button
                matTooltip="Удалить"
                (click)="onDelete.emit(element?.id)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
