@import "../../../../styles/variables";

.match-item {
  color: white;

  &__header {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
  }

  &__list-item {
    cursor: default;
  }

  &__container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }

  &__team {
    width: 49%;
    border: 1px solid lighten(map-get($color, primary), 15%);
    background-color: lighten(map-get($color, primary), 5%);
    border-radius: 4px;
    padding: 10px;
  }

  &__title {
    font-size: 18px;
    text-align: center;
    margin-bottom: 15px;
  }
}
