<div class="match-item">
    <h2 class="match-item__header">
        Подробная информация о матче
    </h2>
    <mat-list
            role="list"
            class="match-item__list"
    >
        <mat-list-item
                role="listitem"
                class="match-item__list-item"
        >
            Продолжительность матча - {{ match?.duration }} минут
        </mat-list-item>
        <mat-list-item
                role="listitem"
                class="match-item__list-item"
        >
            Cчет - {{ match?.firstScore }} - {{ match?.secondScore }}
        </mat-list-item>
        <mat-list-item
                role="listitem"
                class="match-item__list-item"
        >
            Дата проведения - {{ match?.createdAt | date: 'dd/MM/yyyy' }}
        </mat-list-item>
        <mat-list-item
                role="listitem"
                class="match-item__list-item"
        >
            Цена - {{ match?.duration * match?.field?.pricePerMinute }} грн
        </mat-list-item>
    </mat-list>
    <div class="match-item__container">
        <div class="match-item__team">
            <h4 class="match-item__title">
                Первая команда
            </h4>
            <mat-list role="list">
                <mat-list-item
                        *ngFor="let player of match?.firstTeam?.players"
                        role="listitem"
                        [routerLink]="['/player', player?.id]"
                >
                    {{ player?.name }}
                </mat-list-item>
            </mat-list>
        </div>
        <div class="match-item__team">
            <h4 class="match-item__title">
                Вторая команда
            </h4>
            <mat-list role="list">
                <mat-list-item
                        *ngFor="let player of match?.secondTeam?.players"
                        role="listitem"
                        [routerLink]="['/player', player?.id]"
                >
                    {{ player?.name }}
                </mat-list-item>
            </mat-list>
        </div>
    </div>
    <div class="match-item__field">
        <h4 class="match-item__title">
            Футболе поле
        </h4>
        <mat-list
                role="list"
                class="match-item__list"
        >
            <mat-list-item
                    role="listitem"
                    [routerLink]="['/field', match?.field?.id]"
            >
                <div class="match-item__field-container">
                    <span matTooltip="Название поля">
                        {{ match?.field?.name }}
                    </span>
                    <span matTooltip="Адрес поля">
                         {{ match?.field | fieldAddress }}
                    </span>
                </div>
            </mat-list-item>
        </mat-list>
    </div>
</div>
