<div class="admin">
    <div class="admin__block">
        <h2 class="admin__title">
            Новый игроки за последний месяц
        </h2>
        <app-admin-pairs
                class="admin__pairs"
                [items]="players$ | async"
        >
            <ng-template
                    appAdminPairItem
                    let-item
            >
                {{ item?.name }}
            </ng-template>
        </app-admin-pairs>
    </div>

    <div class="admin__block">
        <h2 class="admin__title">
            Новый матчи за последний месяц
        </h2>
        <app-admin-pairs
                class="admin__pairs"
                [items]="matches$ | async"
        >
            <ng-template
                    appAdminPairItem
                    let-item
            >
                <div class="d-flex justify-content-between w-100">
                    <span>
                        {{ item?.date | date: 'dd/MM/yyyy' }}
                    </span>
                    <span>
                        {{ item?.firstScore }} - {{ item?.secondScore }}
                    </span>
                </div>
            </ng-template>
        </app-admin-pairs>
    </div>

    <div class="admin__block">
        <h2 class="admin__title">
            Новый поля за последний месяц
        </h2>
        <app-admin-pairs
                class="admin__pairs"
                [items]="fields$ | async"
        >
            <ng-template
                    appAdminPairItem
                    let-item
            >
                {{ item | fieldAddress }}
            </ng-template>
        </app-admin-pairs>
    </div>
</div>
