$margin: 20px;

.admin {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__toolbar {
    position: relative;
    z-index: 2;
  }

  &__logo {
    font-weight: 500;
    white-space: nowrap;
    font-size: 24px;
  }

  &__hamburger-button {
    display: none;
  }

  &__container {
    flex-grow: 1;
    background-color: var(--placeholder-color);
  }

  &__navbar {
    width: 200px;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    background-color: var(--primary-color);
    margin: $margin 0;
    padding: $margin / 2;

    ::ng-deep .mat-drawer-inner-container {
      display: flex;
      flex-direction: column;
    }
  }

  &__content {
    height: calc(100% - #{$margin} - #{$margin});
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    margin: $margin;
    padding: $margin / 2;
    overflow-y: auto;
  }

  &__link {
    padding: 5px 10px;
    border-radius: var(--border-radius);
    display: block;
    width: 100%;
    color: var(--text-color);
    text-transform: capitalize;
    text-decoration: none;
    font-size: 14px;
    border: 1px solid var(--border-color);

    &:not(:last-of-type) {
      margin-bottom: 5px;
    }

    &:last-of-type {
      margin-top: auto;
    }
  }

  @media screen and (max-width: var(--grid-breakpoint-tablet)) {

    &__toolbar {
      min-height: 48px;
    }

    &__hamburger-button {
      display: block;
    }

    &__navbar {
      margin-top: $margin;
      margin-bottom: $margin;
    }

    &__content {
      height: calc(100% - #{$margin} - #{$margin});
      margin: $margin;
    }
  }
}
