@import "../../../../styles/sizing";
@import "../../../../styles/mixins/respond";

.admin {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 50%);
  grid-gap: 10px;
  height: 100%;
  color: var(--text-color);

  &__block {
    background-color: var(--background-color);
    padding: 10px;
    border-radius: var(--border-radius);
  }

  &__pairs {
    display: block;
    height: calc(100% - 40px);
    overflow-y: auto;
    overflow-x: hidden;
  }

  @include respond-below(md) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 32%);

    &__title {
      font-size: 14px;
      margin-bottom: 10px;
    }

    &__pairs {
      height: calc(100% - 24px);
    }
  }
}
