.match-list {
  &__item {
    display: block;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.12), 0 0 2px rgba(0, 0, 0, 0.14);

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}
