<div class="admin-player-create">
  <h2 class="admin-player-create__title">
    Создание игрока
  </h2>

  <form
    class="admin-player-create__form"
    novalidate
    autocomplete="off"
    [formGroup]="form"
    (ngSubmit)="onSubmit$.next()"
  >
    <mat-form-field class="admin-player-create__field">
      <input matInput placeholder="Имя" formControlName="name" />
      <mat-error *ngIf="form.get('name').invalid">
        Имя игрока поле обязательное
      </mat-error>
    </mat-form-field>

    <button mat-button role="button" class="admin-player-create__button">
      Создать игрока
    </button>
  </form>
</div>
