<div class="admin-player-create">
    <h2 class="admin-player-create__title">
        Создание игрока
    </h2>

    <form
            class="admin-player-create__form"
            novalidate
            autocomplete="off"
            [formGroup]="form"
            (ngSubmit)="onSubmit$.next()"
    >
        <mat-form-field class="admin-player-create__field">
            <input
                    matInput
                    placeholder="Имя"
                    formControlName="firstName"
            />
            <mat-error *ngIf="form.get('firstName').invalid">
                Имя игрока поле обязательное
            </mat-error>
        </mat-form-field>

        <mat-form-field class="admin-player-create__field">
            <input
                    matInput
                    placeholder="Фамилия"
                    formControlName="lastName"
            />
            <mat-error *ngIf="form.get('lastName').invalid">
                Имя игрока поле обязательное
            </mat-error>
        </mat-form-field>

        <button
                mat-button
                role="button"
                class="admin-player-create__button"
        >
            Создать игрока
        </button>
    </form>
</div>
