<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>
      Номер
    </th>
    <td mat-cell *matCellDef="let element" data-label="Номер">
      {{ element?.id }}
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>
      Имя
    </th>
    <td mat-cell *matCellDef="let element" data-label="Имя">
      {{ element?.name }}
    </td>
  </ng-container>

  <!-- CreatedAt Column -->
  <ng-container matColumnDef="createdAt">
    <th mat-header-cell *matHeaderCellDef>
      Создан
    </th>
    <td mat-cell *matCellDef="let element" data-label="Создан">
      {{ element?.createdAt | date: 'dd/MM/yyyy' }}
    </td>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>
      Действия
    </th>
    <td mat-cell *matCellDef="let element" data-label="Действия">
      <div class="mat-container-column">
        <mat-slide-toggle
                matTooltip="Активировать/Деактивировать"
                color="primary"
                [checked]="element?.isActive"
                [disableRipple]="true"
                (toggleChange)="onChangeActive.emit(element?.id)"
        ></mat-slide-toggle>
        <button
                type="button"
                role="link"
                mat-button
                matTooltip="Посмотреть"
                [routerLink]="['/player', element?.id]"
        >
          <mat-icon>visibility</mat-icon>
        </button>
        <button
                type="button"
                role="button"
                mat-button
                matTooltip="Редактировать"
                [routerLink]="['/admin', 'player', element?.id]"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button type="button" role="button" mat-button matTooltip="Удалить" (click)="onDelete.emit(element?.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
