@import "../../../../../../styles/mixins/respond";

.admin-wrapper {
  color: var(--text-color);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  &__title {
    font-size: 18px;
  }

  &__button {
    border: 1px solid var(--border-color);
  }

  &__content {
    width: 100%;
  }

  @include respond-below(sm) {
    &__header {
      flex-direction: column;
    }

    &__title {
      margin-bottom: 10px;
    }
  }
}
