<div class="admin-wrapper">
    <header class="admin-wrapper__header">
        <h2 class="admin-wrapper__title">
            {{ heading }}
        </h2>
        <button
                *ngIf="buttonLink && buttonName"
                class="admin-wrapper__button"
                mat-button
                role="link"
                [routerLink]="buttonLink"
        >
            {{ buttonName }}
        </button>
    </header>
    <div class="admin-wrapper__content">
        <ng-content></ng-content>
    </div>
</div>
