<div class="main" fxLayout="column">
  <mat-toolbar color="primary">
    <mat-toolbar-row class="container">
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span>Football</span>
      <div class="main__menu" fxShow="true" fxHide.lt-md>
        <a routerLink="/match" class="main__link" routerLinkActive="main__link--active" mat-button>
            Матчи
        </a>
        <a routerLink="/player" class="main__link" routerLinkActive="main__link--active" mat-button>
            Игроки
        </a>
        <a routerLink="/field" class="main__link" routerLinkActive="main__link--active" mat-button>
            Поля
        </a>
        <a routerLink="/team" class="main__link" routerLinkActive="main__link--active" mat-button>
            Команды
        </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill fxFlex="1 0 0">
    <mat-sidenav class="main__sidenav" #sidenav>
        <a class="main__sidenav-link" routerLink="/match" (click)="sidenav.close()">Матчи</a>
        <a class="main__sidenav-link" routerLink="/player" (click)="sidenav.close()">Игроки</a>
        <a class="main__sidenav-link" routerLink="/field" (click)="sidenav.close()">Поля</a>
        <a class="main__sidenav-link" routerLink="/team" (click)="sidenav.close()">Команды</a>
    </mat-sidenav>
    <mat-sidenav-content class="main__content" fxFlexFill>
      <div class="container main__container">
        <router-outlet></router-outlet>
      </div>
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
