@import "../../styles/respond";

$vertical-margin: 20px;

.main {
  height: 100%;

  &__toolbar {
    background-color: var(--primary-color);
  }

  &__menu {
    margin-left: auto;
  }

  &__link {
    text-transform: uppercase;

    &--active {
      background: rgba(black, .075);
    }
  }

  &__content {
    background-color: var(--placeholder-color);
    display: flex;
    flex-direction: column;
  }

  &__container {
    flex-grow: 1;
    margin-top: $vertical-margin;
    margin-bottom: $vertical-margin;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    padding: $vertical-margin / 2;
    overflow-y: auto;
  }

  &__sidenav {
    width: 200px;
    padding: $vertical-margin / 2;
    background-color: var(--primary-color);
  }

  &__sidenav-link {
    padding: 5px 10px;
    width: 100%;
    display: block;
    color: var(--text-color);
    text-decoration: none;
    border: 1px solid var(--border-color);

    &:not(:last-of-type) {
      margin-bottom: 5px;
    }
  }

  @include respond-below(lg) {
    &__container {
      margin-top: $vertical-margin / 2;
      margin-bottom: $vertical-margin / 2;
    }
  }
}
