<div class="main" fxLayout="column">
  <mat-toolbar color="primary">
    <mat-toolbar-row class="container">
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span>Football</span>
      <div class="main__menu" fxShow="true" fxHide.lt-md>
        <a routerLink="/match"  class="main__link" routerLinkActive="main__link--active" mat-button>
            Матчи
        </a>
        <a routerLink="/player" class="main__link" routerLinkActive="main__link--active" mat-button>
            Игроки
        </a>
        <a routerLink="/field"  class="main__link" routerLinkActive="main__link--active" mat-button>
            Поля
        </a>
        <a routerLink="/team"   class="main__link" routerLinkActive="main__link--active" mat-button>
            Команды
        </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill fxFlex="1 0 0">
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a mat-list-item routerLink="/match">Матчи</a>
        <a mat-list-item routerLink="/player">Игроки</a>
        <a mat-list-item routerLink="/field">Поля</a>
        <a mat-list-item routerLink="/team">Команды</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
