<div class="main" fxLayout="column">
  <mat-toolbar color="primary">
    <mat-toolbar-row class="container">
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span>Football</span>
      <div class="main__menu" fxShow="true" fxHide.lt-md>
        <a routerLink="/match" mat-button>Matches</a>
        <a routerLink="/player" mat-button>Players</a>
        <a routerLink="/field" mat-button>Fields</a>
        <a routerLink="/team" mat-button>Teams</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill fxFlex="1 0 0">
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a mat-list-item routerLink="/match">Matches</a>
        <a mat-list-item routerLink="/player">Players</a>
        <a mat-list-item routerLink="/field">Fields</a>
        <a mat-list-item routerLink="/team">Teams</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
