$ball-size: 52px;
$loader-size: 200px;

.loader {
  position: relative;
  height: 100%;

  &__container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(114, 128, 206, 0.8);
    display: flex;
  }

  &__loader {
    position: relative;
    margin: auto;
    width: $loader-size;
    height: $loader-size;
    transform: translate(-$loader-size / 2, -$loader-size / 2) scale(1) translate($loader-size / 2, $loader-size / 2);
  }

  &__ball {
    position: absolute;
    background: transparent url("/assets/images/ball.svg") no-repeat center;
    background-size: $ball-size;
    width: $ball-size;
    height: $ball-size;
    border-radius: 50%;
    left: 74px;
    top: 20px;
    animation: ball 1s linear infinite;
  }
}

@keyframes ball {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.45, 0, 0.9, 0.55);
  }
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 108px);
    animation-timing-function: cubic-bezier(0, 0.45, 0.55, 0.9);
  }
  100% {
    transform: translate(0, 0);
  }
}
