<div class="admin-field">
    <header class="admin-field__header">
        <h2 class="admin-field__title">
            Информация об полях
        </h2>
        <button
                class="admin-field__button"
                mat-button
                role="link"
                routerLink="/admin/field/create"
        >
            Создать новые поле
        </button>
    </header>
    <app-admin-field-table
            class="admin-field__table"
            [dataSource]="collection$ | async"
            (onDelete)="onDelete($event)"
    ></app-admin-field-table>
</div>
